<!-- FILEPATH: /c:/Users/kirkm/Documents/CAPSTONE/Wallet/facility_reservation/wallet/templates/wallet/Landing/landing.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CIT</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Academics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Admissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Student Life</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Alumni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Giving</a>
      </li>
    </ul>
  </div>
</nav>
