.df {
	color: #fff200;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #fff200;
  border-bottom: 2px solid;
}

#score {
	font-size: 4em;
}

.qMark {
	color: #fff200;
}

.tab-content {
	overflow: hidden;
}

.border-right {
    border-right: 2px solid #000 !important;
    height: 20px;
}

hr.solid {
    border-top: 1px solid #999;
}

.btnSave {
	background-color: #fff200;
	color: #000;
}

.btn-primary:hover, .btn-secondary:hover, .btnSave:hover, .btn-danger:hover {
	background-color: transparent !important;
  	color: #000;
  	font-weight: bold;
}

.btnSave:hover {
	border: 1px solid #fff200;
}

.fab {
	size: 500px;
}


.imagePreview {
    width: 100%;
    height: 220px;
    background-position: center center; 	
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
}

.imgUp
{
  margin-bottom:15px;
}

.uploadFile {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.btn-export {
	background-color: #fff200;
	color: #000000;
}

.btn-export2 {
	background-color: #fff200;
	color: #000000;
	margin-left: 80%;
	margin-top: 1%;

}
.btn-export3 {
	background-color: #fff200;
	color: #000000;
	margin-left: 92%;
	margin-top: 1%;

}
.btn-export4 {
	background-color: #fff200;
	color: #000000;
	margin-left: 85.1%;
	margin-top: 1%;

}
.btn-export5 {
	background-color: #fff200;
	color: #000000;
	margin-left: 92%;
	margin-top: 1%;

}

.btn-export:hover {
	background-color: transparent !important;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
}

.oua {
	color: #000;
	font-size: 1em;
}

.oua:hover, .oua1:hover {
	color: #fff200;
}

.oua1 {
	color: #000;
	font-size: .9em;
}

.thead {
	background-color: #fff200;
}


