<!-- user_list.html -->
{% extends 'wallet/base.html' %} {% load static %} {% block body_block %}
<style>
  #page-content-wrapper {
    background: url("{% static 'img/basebg.PNG' %}") no-repeat;
    background-size: cover;
    /* Add any other styles you need for #page-content-wrapper */
  }
  .jumbotron {
    background-color: rgba(254, 255, 255, 0.8); /* Darker background color */
    color: #ffffff; /* Light text color */
    /* Other styles for the jumbotron */

    margin: 0 auto;
  }

  .jumbotron-fluid {
    width: 200px;
    height: 50px;
    color: #000;
    text-size-adjust: 10px;
    border-style: solid;
    margin-bottom: 10px;
  }
  .jumbotron h1{
    margin-top: -40px;
  }
  .nav-tabs .nav-link {
    margin-right: 5px;
    color: #555; /* Default text color for inactive links */
    background-color: #e9ecef; /* Default background color for inactive links */
  }

  .nav-tabs .nav-link.active {
    color: #ffff; /* Text color for active link (darker) */
    background-color: #9c7b16; /* Background color for active link */
  }
  .list-group-item.active-link {
    /* Define styles for active state */
    background-color: #faca04;
    color: #000000;
  }    .list-group-item:hover {
        /* Define styles for hover state */
        background-color: #f0f0f0;
        color: #000000;
    }
</style>

<div class="container custom-container" style="margin-top: 20px">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#userListTab"
        >User List</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#transactionsTab"
        >Transactions</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="userListTab">
      <div class="jumbotron">
        <h1 style="color: #000">User List</h1>
        <form id="userSearchForm" class="form-inline" style="padding-bottom: 30px;">
            <div class="form-group">
                <label for="userSearch" class="mr-2" style="color: black;">Search for a User:</label>
                <input type="text" class="form-control mr-2" id="userSearch" placeholder="Enter Email/first name/last name" style="max-width: 300px;">
                <button type="button" class="btn btn-primary" id="searchButton">Search</button>
            </div>
        </form>
        <div
          class="table-container"
          style="max-height: 450px; overflow-y: auto"
        >
          <table id="users" class="table table-striped table-bordered">
            <thead
              class="thead-dark"
              style="position: sticky; top: 0; background-color: white"
            >
              <tr>
                <th>ID No.</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Point Balance</th>
                <th>Award Points</th>

                <th>UserType</th>
                <th>Change User Type</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.profile_id }}</td>
                <td>{{ user.user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.point_balance }}</td>
                
                <td>
                  <button
                    class="btn btn-primary awardPointsButton"
                    style="background-color: #9c7b16"
                    data-id="{{ user.user.id }}"
                    data-recipient="{{ user.user.id }}"
                    data-firstname="{{user.first_name}}"
                    data-lastname="{{user.last_name}}"
                    data-pbal="{{user.point_balance}}"
                    data-acctype="{% if user.user.is_superuser %}Superuser{% elif user.user.is_staff %}Teacher User{% else %}Regular User{% endif %}"
                  >
                    Award Points
                  </button>
                </td>
                <td>
                    {% if user.user.is_superuser %}Superuser{% elif user.user.is_staff %}Teacher User{% else %}Regular User{% endif %}
                </td>
                <td>
                  <button
                    class="btn btn-primary changetype"
                    style="background-color: #9c7b16"
                    data-id="{{ user.user.id }}"
                    data-recipient="{{ user.user.id }}"
                    data-firstname="{{user.first_name}}"
                    data-lastname="{{user.last_name}}"
                    data-pbal="{{user.point_balance}}"
                    data-acctype="{% if user.user.is_superuser %}Superuser{% elif user.user.is_staff %}Teacher User{% else %}Regular User{% endif %}"
                  >
                    Change Account Type
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="transactionsTab">
      <div class="jumbotron">
        <h1 style="color: #000">Transactions</h1>
        <div
          class="table-container"
          style="max-height: 450px; overflow-y: auto"
        >
          <table id="transactions" class="table table-striped table-bordered">
            <thead
              class="thead-dark"
              style="position: sticky; top: 0; background-color: white"
            >
              <tr>
                <th>Transaction ID</th>
                <th>Recipient</th>
                <th>Sender</th>
                <th>Points</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions %}
              <tr>
                <td>{{ transaction.transactionID }}</td>
                <td>{{ transaction.recipient }}</td>
                <td>{{ transaction.sender }}</td>
                <td>{{ transaction.points }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.time }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="modal" id="awardPointsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Award Points</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Add the form elements for awarding points -->
            <form id="awardPointsForm" method="post" action="">
              {% csrf_token %}
              <!-- Form fields for awarding points go here -->
              <div class="form-group">
                <label for="recipient">Target User:</label>
                <input
                  type="text"
                  class="form-control"
                  id="recipient"
                  name="recipient"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="points">Points to add:</label>
                <input
                  type="number"
                  class="form-control"
                  id="points"
                  name="points"
                />
              </div>
              <div class="form-group">
                <label for="date">Date:</label>
                <input
                  type="text"
                  class="form-control"
                  id="date"
                  name="date"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="time">Time:</label>
                <input
                  type="text"
                  class="form-control"
                  id="time"
                  name="time"
                  readonly
                />
              </div>
              <div class="form-group">
                <input
                  type="hidden"
                  name="sender"
                  id="sender"
                  value="{{ request.user.id }}"
                />
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- actionsModal -->
    <div class="modal" id="actionsModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="margin-left: auto"></h5>
            <button
              type="button"
              style="position: initial"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <!-- Wrap buttons in a div with text-center class -->
              <div class="row">
                <div class="col">
                  <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h6 class="pbal">Point Balance</h6>
                    </div>
                  </div>
                  <button
                    class="btn btn-primary awardPointsButton"
                    style="background-color: #9c7b16"
                    data-recipient="{{ user.user.id }}"
                  >
                    Award Points
                  </button>
                </div>

                <div class="col">
                  <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h6 class="acctype" id="accountType">Account Type</h6>
                    </div>
                  </div>
                  <button class="btn btn-primary changetype" style="background-color:#9C7B16;" 
                  data-recipient="{{ user.user.id }}" 
                  data-id="{{ user.user.id }}" 
                  data-firstname="{{ user.first_name }}" 
                  data-lastname="{{ user.last_name }}" 
                  data-pbal="{{ user.point_balance }}" 
                  data-acctype="{% if user.user.is_superuser %}Superuser{% elif user.user.is_staff %}Teacher User{% else %}Regular User{% endif %}">Change Account Type</button>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- change account modal -->
    <div
      class="modal fade"
      id="changeAccountTypeModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="changeAccountTypeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changeAccountTypeModalLabel">
              Change Account Type
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <h6 class="id" id="id">Account Type</h6>
            </div>

            <p>User ID: <span id="modalUserId"></span></p>
            <p>First Name: <span id="modalFirstName"></span></p>
            <p>Last Name: <span id="modalLastName"></span></p>
            <p>Current Account Type: <span id="modalAccountType"></span></p>
            <form id="changeAccountTypeForm">
              <input type="hidden" id="userIdForChange" />
              <label for="newAccountType">Select the new account type:</label>
              <select name="newAccountType" id="newAccountType">
                <option value="Superuser">Superuser</option>
                <option value="Regular User">Regular User</option>
                <option value="Teacher User">Teacher User</option>
              </select>
              <button type="submit" class="btn btn-primary">
                Change Account Type
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {

        $("#searchButton").click(function () {
            var searchText = $("#userSearch").val().toLowerCase();
            if (searchText) {
                $("#users tbody tr").each(function () {
                    var email = $(this).find("td:eq(0)").text().toLowerCase();
                    var firstName = $(this).find("td:eq(1)").text().toLowerCase();
                    var lastName = $(this).find("td:eq(2)").text().toLowerCase();
                    var fullName = firstName + ' ' + lastName;

                    if (email.includes(searchText) || firstName.includes(searchText) || lastName.includes(searchText) || fullName.includes(searchText)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            } else {
                $("#users tbody tr").show();
            }
        });





        // Function to handle form submission
        $(document).on("click", ".actionsButton", function () {
          var recipient = $(this).data("recipient");

          var id = $(this).data("id"); // Get user ID from data attribute

          var firstName = $(this).data("firstname"); // Get first name from data attribute
          var lastName = $(this).data("lastname"); // Get last name from data attribute
          var pbal = $(this).data("pbal"); // get point balance from data attribute
          var acctype = $(this).data("acctype");

          // Set the title of the second modal to the user's first and last name
          $("#actionsModal .modal-title").text(firstName + " " + lastName);
          $("#actionsModal .pbal").text(pbal);
          $("#actionsModal .acctype").text(acctype);
          $("#actionsModal .id").text(id);

          $("#actionsModal").modal("show");
          $("#actionsModal .awardPointsButton").data("recipient", recipient);
          $("#actionsModal .changetype").data({
                recipient: recipient,
                firstname: firstName,
                lastname: lastName,
                pbal: pbal,
                acctype: acctype
                });
        });


        // Function to handle "Award Points" button click
        $(document).on("click", ".awardPointsButton", function () {
          $("#actionsModal").modal("hide");
          var recipient = $(this).data("recipient");
          $("#recipient").val(recipient);

          // Auto-fill date and time fields with current date and time
          var currentDate = new Date();
          var dateString = currentDate.toLocaleDateString();
          var timeString = currentDate.toLocaleTimeString();
          $("#date").val(dateString);
          $("#time").val(timeString);

          $("#awardPointsModal").modal("show");
        });
      });


        $("#awardPointsForm").submit(function (event) {
          event.preventDefault(); // Prevent the default form submission

          // Retrieve the form data
          var formData = new FormData(this);
          formData.set("recipient", $("#recipient").val());
          formData.set("sender", $("#sender").val());

          // Perform the points transaction
          $.ajax({
            url: "/wallet/user_list/",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
              var awardedPoints = parseFloat($("#points").val());
              var recipientID = $("#recipient").val();
              var senderID = $("#sender").val();
              var recipientName = response.recipient_name; // Access the concatenated name from the JSON response
              var senderName = response.sender_name; // Access the concatenated name from the JSON response
              var recipientPointBalanceCell = $(
                'table#users td:contains("' + recipientID + '")'
              ).siblings(":nth-child(4)");
              console.log(recipientPointBalanceCell); // Check the selected cell
              console.log(recipientPointBalanceCell.length); // Check the length of the selected cell
              var currentPointBalance = parseFloat(
                recipientPointBalanceCell.text()
              );
              var newPointBalance = currentPointBalance + awardedPoints;
              recipientPointBalanceCell.text(newPointBalance.toFixed(2)); // Update the point balance in the table
              console.log(awardedPoints); // Log the response for debugging purposes
              // Update the point balance in the table or perform any other necessary actions

              $("#awardPointsModal").modal("hide"); // Hide the modal
              window.location.reload();
              window.alert(
                "\nYOU HAVE SUCCESSFULLY COMPLETED THE TRANSACTION.\n"
              );
            },
            error: function (xhr, status, error) {
              // Handle the error response
              console.error(error); // Log the error for debugging purposes
              // Display an error message or perform any other necessary actions
            },
          });
        });



        var csrf_token = "{{ csrf_token|escapejs }}";
        // JavaScript for handling the onclick event of the "Change Account Type" button
        $(document).on("click", ".changetype", function () {
        // Get data attributes from the button
        console.log("Change Account Type button clicked.");
                $("#actionsModal").modal("hide");
        
                var recipient = $(this).data("recipient");
                $("#recipient1").val(recipient);


                var firstName = $(this).data("firstname");
                var lastName = $(this).data("lastname");
                var pbal = $(this).data("pbal");
                var acctype = $(this).data("acctype");

                console.log("Recipient:", recipient);
                console.log("First Name:", firstName);
                console.log("Last Name:", lastName);
                console.log("Point Balance:", pbal);
                console.log("Account Type:", acctype);

                // Populate the modal with data
                $("#modalUserId").text(recipient);
                $("#modalFirstName").text(firstName);
                $("#modalLastName").text(lastName);
                $("#modalAccountType").text(acctype);

                // Set the data in the "Change Account Type" modal
                $("#userIdForChange").val(recipient);

                // Open the "Change Account Type" modal
                $("#changeAccountTypeModal").modal("show");
            });

      // JavaScript for handling the form submission in the "Change Account Type" modal
      $(document).on("submit", "#changeAccountTypeForm", function (event) {
        event.preventDefault();

        var user_id = $("#userIdForChange").val();
        var newAccountType = $("#newAccountType").val();

        if (newAccountType === "Superuser") {
          var isSuperuser = true;
          var isStaff = true;
        } else if (newAccountType === "Teacher User") {
          var isSuperuser = false;
          var isStaff = true;
        } else {
          var isSuperuser = false;
          var isStaff = false;
        }

        // Send an AJAX request to update the account type
        $.ajax({
          type: "POST",
          url: "/wallet/update_account_type/" + user_id + "/",
          data: {
            user_id: user_id,
            isSuperuser: newAccountType === 'Superuser', // Convert to true if Superuser
            isStaff: newAccountType === 'Teacher User' || newAccountType === 'Superuser', // Convert to true if Teacher User or Superuser
            csrfmiddlewaretoken: csrf_token,
          },
          success: function (data) {
            if (data.success) {
              alert("Account type changed successfully.");
              $("#changeAccountTypeModal").modal("hide");
              // Update the displayed account type in the "Actions" modal if needed
              // ...
            } else {
              alert("Failed to change the account type.");
            }
          },
        });
      });
    </script>
    {% endblock %}
  </div>
</div>
