{% extends 'base.html' %}
{% load static %}
{% block facility_content %}
<style>
  form.modal-dialog{
  right: -12%;
}
button.cardevent:hover{
  background:rgba(222, 220, 215, 0.3); 
}
            input {
              font-size: 12px;
  padding: 7px;
  width: 100%  ;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
          }

#overflowTest {
  margin-top: 1rem;
  /* background: #4CAF50; */
  /* color: white; */
  /* padding: 3px; */
  width: auto; 
  height: 385px;
  overflow-y: auto; /* Add a vertical scrollbar when the tbody overflows */
  display: block;
  /* border: 1px solid #ccc; */
}
.column {
  float: left;
  width: 70%;
}
.column2 {
  float: left;
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn.btn-facility:active {
  background-color: #ded986;
}

.btn.btn-facility:active::after  {
  opacity: 1;
  background-color: #ded986;
}
  </style>
  <div class="modal" id="staticBackdrop3" > 
    <form method="POST" class="modal-dialog modal-dialog-centered" id="add_faci">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel2">{% block modal-title3 %}Type of Event{% endblock modal-title3 %}</h5>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="text"placeholder="Input Type of Event" name="type_sched" value='{{ typesched.type_sched }}'><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a href="{% url 'facility:facility' %}">Cancel</a></button>
          <button type="submit" class="btn btn-primary" data-bs-target="update_faci">Add</button>
        </div>
      </div>
    </form>
  </div>
<!-- ------------------------------------------------------------------------------------------------------------------ -->
  <div class="modal fade" id="staticBackdrop1">
    <form method="POST" class="modal-dialog modal-dialog-centered" id="add_faci">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel2">{% block modal-title2 %}EVENT{% endblock modal-title2 %}</h5>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="text" name="id" id="eventIdInput" value="">
          <input type="text" name="event_name" id="event_name_input" value="">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a href="{% url 'facility:facility' %}">Cancel</a></button>
          <button type="submit" class="btn btn-primary" data-bs-target="update_faci">Update Facility</button>
        </div>
      </div>
    </form>
  </div>

<!-- -----------------------------------------------ADD EVENTS--------------------------------------------- -->
<div class="modal fade" id="staticBackdrop2">
  <form method="POST" class="modal-dialog modal-dialog-centered"  id="add_faci">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel2">{% block modal-title %}EVENT{% endblock modal-title %}</h5>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <label class="modalpopup">Type of Sched</label><button class="btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" data-bs-dismiss="modal" style="padding-inline: 10px; margin-left: 47%;">
              + Add 
             </button>
            <input list="type_sched" name="type_sched" placeholder="Choose Type of Schedule"/>
            <datalist id="type_sched">
              <option value = "{{calform.type_sched}}">
            </datalist>
            <label class="modalpopup">Event Name</label><br>
              {{calform.event_name}}
              <label class="modalpopup">Date</label><br>
              <input type="date"placeholder="Input Date" name="date" value='{{calform.date}}'><br>
            <label class="modalpopup">Start</label><br>
            <input type="time"placeholder="00:00 am/pm" name="start" value='{{ calform.start }}'><br>
            <label class="modalpopup">End</label><br>
            <input type="time"placeholder="00:00 am/pm" name="end" value='{{calform.end}}'><br>
            <label class="modalpopup">Facility</label><br>
            <input list="calform.facility" name="facility" placeholder="Choose Day"/>
            <datalist id="calform.facility">
              <option value = "{{calform.facility}}">
            </datalist>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a href="{% url 'facility:facility' %}">Cancel</a></button>
              <button class="btn-primary" data-bs-target="update_faci">Add Event</button>
          </div>
      </div>
  </form>
</div>
<!-- ---------------------------------------------- Calendar ----------------------------------------------------------- -->
{% for e in event %}
<div class="modal fade" id="warning-{{ e.id }}">
    <form method="POST" class="modal-dialog modal-dialog-centered" id="add_faci">
      {% csrf_token %}
        <div class="modal-content">
            <label class="modalpopup">Are you sure you want to remove {{ e.event_name }}</label>
            <div class="modal-footer">
                <button style="margin-top: 1rem; margin-left: 30%" type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                <button class="btn-primary">
                    <a href="{% url 'facility:delevent' e.id %}" style="padding: 2px;">YES</a>
                </button>
            </div>
        </div>
    </form>
</div>
{% endfor %}


  <div class="label-page">Calendar</div>
  <div class="table" style="padding:0; height: 550px;">
    <div class="row">
      <div class="column">
        <br>
        <div style="margin-left: 4%;">
          <h5 style="margin: 0px; position: absolute; font-size: 40px; font-weight: bolder;">Events</h5>
          <button type="submit" class="btn-primary" style="position: absolute; left: 41%;"><a href="{% url 'facility:calendarview' %}">📅 View Calendar</a></button>
          <button type="submit" class="btn-primary" style="position: absolute; left: 56%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">+ Submit Event</button>
        </div>
        <br><br>
        <div id="overflowTest" style="width: 800px; height: 425px; padding:0.5rem; margin-top:0rem; ">
          {% for e in event %} 
          <button id="eventid" data-bs-toggle="modal" data-bs-target="#warning-{{ e.id}}" data-event-name="{{ e.event_name }}"  data-event-id="{{ e.id }}" class="btndel" style="margin-left: 91%; position: relative; top: 2.3rem; z-index: 999;"> - </button>
          <button class="cardevent" id="viewevent"data-bs-toggle="modal" data-bs-target="#staticBackdrop1" style="margin-left: 2rem;"
            data-event-id="{{ e.id }}" data-event-name="{{ e.event_name }}">
              <h3 class="titletxt">
                
                <div style="position: absolute;">{{ e.date|date:"l" }}</div>
                <div style="margin-left: 80%;">{{ e.date.date }}</div>
              </h3>
              <ul class="content" style="text-align: left; height: 200px;">
                <p>When: {{ e.date.date}} </p>
                <p>Time: {{ e.start}} - {{ e.end}}</p>
                <p>What: {{ e.event_name }}</p>
                <p>Where: {{e.facility}}</p>            
              </ul>
          </button>
          {% empty %}
          <h3 style="opacity: 0.3; margin-top: 5rem; margin-bottom: 2rem;">NO EVENTS CREATED</h3>
          
        {% endfor %}        
        </div>
      </div>
      <div class="column2" style="border-left: 0.5px solid rgba(0, 0, 0, 0.20);">
        <br>
        <h3 class="titletxt" style="font-weight: bolder; font-size: 20px;font-weight: bolder;">FILTER</h3>
        <div id="overflowTest" style="margin-left: 1%; padding:1px; margin-top:1rem; height: 470px;">
          <div class="cardevent" style="width: 300px;">
            <form method="get">
              <h3 class="titletxt">TYPE OF EVENTS</h3><br>
              {% if typesched %}
                  {% if typesched|length > 1 %}
                      <button type="submit" name="type" class="btn btn-facility" style="margin-left: 1px;" value="">All</button>
                  {% endif %}
                  {% for s in typesched %}
                      <button type="submit" name="type" class="btn btn-facility" style="margin-left: 1px;" value="{{ s.type_sched }}">{{ s.type_sched }}</button>
                  {% endfor %}
              {% else %}
                  <h3 style="opacity: 0.3; margin-bottom: 2rem;">No Type of Event</h3>
              {% endif %}
          </form>
        </div>
          <div class="cardevent" style="width: 300px; overflow-y: auto;">
            <form method="get">
                  <h3 class="titletxt">FACILITIES</h3><br>
                  <button type="submit" name="facility"class="btn btn-facility" style="margin-left: 1px;" value="">All</button>
                  {% for f in facility %}
                  <button type="submit" name="facility" class="btn btn-facility" style="margin-left: 1px;" value="{{f.id}}">{{f.facilityname}}</button>
                  {% empty %}
                  <h3 style="opacity: 0.3; margin-bottom: 2rem;">No Available Facility</h3>
                  {% endfor %}
                </form>
                </div>           
        </div>
      </div>
      <!-- <div class="cardevent" style="margin-left:73%; height: 180px; border-radius: 0px; width: 320px; background:#FFFFFF; border: 0.5px solid rgba(0, 0, 0, 0.20); padding:2px; margin-bottom: 1rem;">
        <div style="background-color: #ffcc01; width: 4rem; height: 20px; width: 298px; height: 44px; text-align: left; padding: 10px;"><h3 class="titletxt">Holiday</h3></div>
        <table class="" style=" border-radius: 5px; border-spacing: 2rem; width: 298px;">
          <tbody class="tablerule">
            
            <tr>
              <td>asdad</td>
              <td style="width:20rem; font-weight: bold;">title</td>
              <td style="width:5rem;"><a href="#">🗑️</a></td>
            </tr>
            <tr>
              <td style="width:20rem; font-weight: bold;">title</td>
              <td style="width:5rem;"><a href="#">🗑️</a></td>
            </tr>
            <tr>
              <td style="width:20rem; font-weight: bold;">title</td>
              <td style="width:5rem;"><a href="#">🗑️</a></td>
            </tr>
            
          </tbody>
          </table>
      </div> -->
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).on("click", "#viewevent", function() {
    var event_Id = $(this).data("event-id");
    var event_name = $(this).data("event-name");
    $("#eventIdInput").val(event_Id);
    $("#event_name_input").val(event_name);
    $("#staticBackdrop1").modal("show");
  });
</script>
<!-- ----------------------------------------------FACILITY RULES----------------------------------------------------------- -->

{% endblock %}