{% extends 'base.html' %}
{% load static %}
{% block facility_content %}

  {% for f in addedsubrules %} 
  <div class="modal fade" id="warning-{{ f.id }}" >
      <form method="POST" class="modal-dialog modal-dialog-centered" id="delfaci" style="
      justify-content: center;
      align-items: center;
      margin-left: 28%;
      padding: 20px; 
      border-radius: 5px;">
        {% csrf_token %}
          <div class="modal-content">
              <label class="modalpopup"><p>Are you sure you want to remove {{ f.title }}</p></label>
              <p style="font-size: smaller; color: red; text-align: center; padding-inline: 2rem; font-style: italic;">If you click YES, some data of {{ f.title }} will be deleted</p>
              <div class="modal-footer" style="justify-content: center; align-items: center;">
                  <button type="button" class="btn-no" data-bs-dismiss="modal">NO</button>
                  <button class="btn-yes"><a href="{% url 'facility:delfsrules' f.id %}">YES</a></button>
              </div>
          </div>
      </form>
  </div>
  {% endfor %} 
<!-- -----------------------------------------------ADD RULES--------------------------------------------- -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form method="POST" class=" modal-dialog modal-dialog-centered" id="add_faci">{% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel" >Add Facility Sub Rules</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <label class="modalpopup">Title</label><br>
          {{sform.title}}
          <label class="modalpopup">Description</label><br>
          <textarea placeholder="Input Description" name="description" aria-valuetext='{{sform.description}}'></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" ><a>Add Rules</a></button><br>
        </div>
      </div>
    </form>
  </div>
    
<!-- ----------------------------------------------FACILITY RULES----------------------------------------------------------- -->

<div class="label-page" style="padding: 10px;">FACILITY <a style="margin-left: 83%; font-size: larger;" href="{% url 'facility:facimainback' %}"><</a></div>
    <div class="table">
      {% csrf_token %}
      <div class="margin">
        <input type="text" class="facilabel" value="{{sfacility.facility}}" style=" font-size: larger; height: fit-content; width: 40%; margin-top: 1rem;" disabled>
      <card class="card">
        <h5 style="font-weight: bold; margin-bottom: 1px;">Main Rules</h5>
        <table class="" style=" height: 60px; border-radius: 5px; border-spacing: 2rem; overflow: hidden;">
          <tbody class="tablerule">
          {% for f in fmainrules %} 
          <tr>
            <td name="mainrule" style="width:20rem; font-weight: bold;" value="{{f.id}}">{{f.title}}</td>
            <td style="width:5rem;"><a href="{% url 'facility:delfmstatus' f.id %}">🗑️</a></td>
            {% empty %}
            <p style=" opacity: 0.3; margin: 0rem; padding: 0rem;">no rules added</p>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        <h5 style="font-weight: bold; margin-bottom: 1px;">Sub Rules</h5>
        <table class="" style=" height: 60px; border-radius: 5px; border-spacing: 2rem; overflow: hidden;">
          <tbody class="tablerule">
          {% for f in fsubrules %} 
          <tr>
            <td name="subrule" style="width:20rem; font-weight: bold;" value="{{f.id}}">{{f.title}}</td>
            <td style="width:5rem;"><a href="{% url 'facility:delfsstatus' f.id %}">🗑️</a></td>
            {% empty %}
            <p style="opacity: 0.3; margin: 0rem; padding: 0rem;">no rules added</p>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        <h5 style="font-weight: bold; margin-bottom: 1px;">Promo Rules</h5>
        <table class="" style=" height: 60px; border-radius: 5px; border-spacing: 2rem; overflow: hidden;">
          <tbody class="tablerule">
          {% for f in fpromorules %} 
          <tr>
            <td name="promo" style="width:20rem; font-weight: bold;" value="{{f.id}}">{{f.title}}</td>
            <td style="width:5rem;"><a href="{% url 'facility:delfpstatus' f.id %}">🗑️</a></td>
            {% empty %}
            <p style="opacity: 0.3; ">no rules added</p>
          </tr>
          {% endfor %}
        </tbody>
        </table>
    </card>
        <button class="setbtn" type="button"  data-bs-target="#staticBackdrop">
          <!-- setfmstatus_one   -->
          <a class="set" href="{% url 'facility:setfsstatus_one' %}">Set</a>
          </button>
          <div class="vline"></div>
          <div class="menurules">
            <button class="mrules"><a href="{% url 'facility:facilityRules' sfacility.id %}">Main Rules</a></button>
            <button class="srules" style="background-color: #ffcc01;"><a href="{% url 'facility:facilitysubrules' sfacility.id %}" style="color: #FFFFFF; ">Sub Rules</a></button>
            <button class="prules"><a href="{% url 'facility:facilitypromorules' sfacility.id %}">Promo Rules</a></button> 
          </div>
          <!-- <form method="POST"> {% csrf_token %} -->
          <div id="overflowTest" style="margin-left: 50%; height: 55vh; ">
          {% for f in addedsubrules %} 
          <button type="submit" class="btnaddrules" style="margin-left: 50%; position: relative; top: 3rem; z-index: 999;"><a href="{% url 'facility:setfsstatus' f.id %}">Add</a></button>
          <button class="btneditrules" style="margin-left: 2%; position: relative; top: 3rem; z-index: 999;"><a href="#">Edit</a></button>
          <button class="btndelrules" style="margin-left: 2%; position: relative; top: 3rem; z-index: 999;" style="margin-left: 2%; position: relative; top: 3rem; z-index: 999;" data-bs-toggle="modal" data-bs-target="#warning-{{ f.id}}" data-facility-sub-title="{{ f.title }}"  data-facility-subrules-id="{{ f.id }}">Delete</button>
            <div class="cardrule" style="padding:10px; background:#ffcc000d; margin-bottom: 1rem; box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25); ">
              
              <h3 class="titletxt">{{ f.title }}</h3><br>
              <div class="hline"></div>
              
              <section style="margin:10px; font-size: 14px;  height: 400px;">
              <ul style="width: fit-content; ">
                <!-- <li>Points: {{ f.points }}</li>
                <li>Number of Computers: {{ f.num_pc }}</li>
                
                <li>Number of Attendies: {{ f.num_attendies }}</li> -->
                <li>Description: {{ f.description }}</li>
                <!-- <li>Rate: {{ f.rate }}</li> -->
              </ul>
              <br>
              <div class="hline" style="margin-top: 2.8rem; border-bottom: none;"></div> 
            </section>
            </div>
            {% empty %}
            <h3 style="opacity: 0.3;">No Available Rules</h3> 
            {% endfor %}
          </div>
        <!-- </form> -->
    </div><br>
<button data-bs-toggle="modal" data-bs-target="#staticBackdrop"  type="button" class="btnrules" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Rules</button>
    <!-- <button type="submit" class="add-fac" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Facility</button> -->

  </div>
    
  </div>
 
    <!-- BUTTON TO ADD FACILITY -->
    


    {% endblock %}