{% extends 'base.html' %}
{% load static %}
{% block facility_content %}
  <div class="modal fade" id="staticBackdrop2">
    <form method="POST" class="modal-dialog modal-dialog-centered" id="update_faci">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Facility</h5>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input type="text" name="id" id="facilityIdInput" value="" hidden>
          <!-- <input type="hidden" name="id" value="{{ f.id }}"> -->
          <label class="modalpopup">Facility Name</label><br>
          <!-- {{upform.facilityname}} -->
          <input type="text" name="facilityname" value="{{ upform.instance.facilityname }}">
          <label class="modalpopup">Rate Per Hour</label><br>
          <input type="text" name="rateperhour" value="{{ upform.instance.rateperhour }}">
          <label class="modalpopup">Capacity</label><br>
          <input type="text" name="capacity" value="{{ upform.instance.capacity }}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" >Update Facility</button>
        </div>
      </div>
    </form>
  </div>

  
  

<!-- -------------------------------------------------------ADD FACILITY -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <form action="{% url 'facility:facility' %}" method="POST" class="modal-dialog modal-dialog-centered" id="add_faci">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel2">Add Facility</h5>
          </div>
          <div class="modal-body">
            {% csrf_token %}
           
            <label class="modalpopup">Facility Name{{ facility_id }}</label><br>
            <!-- <input type = "text" name = "facilityname" placeholder= "username"> -->
            {{mform.facilityname}}
            <label class="modalpopup">Rate Per Hour</label><br>
            {{mform.rateperhour}}
            <label class="modalpopup">Capacity</label><br>
            {{mform.capacity}}

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a href="{% url 'facility:facility' %}">Cancel</a></button>
              <button type="submit" class="btn btn-primary" ><a>Add Facility</a></button><br>
              <!--   -->
          </div>
      </div>
  </form>
</div>
<!---------------------------------------------------DISPLAY FACILITY-------------------------------->
{% for f in facility %} 
<div class="modal fade" id="warning-{{ f.id }}" >
    <form method="POST" class="modal-dialog modal-dialog-centered" id="delfaci" style="
    justify-content: center;
    align-items: center;
    margin-left: 28%;
    padding: 20px; 
    border-radius: 5px;">
      {% csrf_token %}
        <div class="modal-content">
            <label class="modalpopup"><p>Are you sure you want to remove {{ f.facilityname }}</p></label>
            <p style="font-size: smaller; color: red; text-align: center; padding-inline: 2rem; font-style: italic;">If you click YES, some data of {{ f.facilityname }} will be deleted</p>
            <div class="modal-footer" style="justify-content: center; align-items: center;">
                <button type="button" class="btn-no" data-bs-dismiss="modal">NO</button>
                <button class="btn-yes"><a href="{% url 'facility:deleteFacility' f.id %}">YES</a></button>
            </div>
        </div>
    </form>
</div>
{% endfor %}  
<div>

      <div class="label-page">FACILITY</div>
      <div class="table">
        <a class="rules-tab" href="{% url 'facility:facilitytable' %}">Rules Table</a>
        <h4>Facility Table</h4><br>
        <table class="center" cellspacing="2" style="margin-top: 3rem; width: max-width;">
          <thead>
            <tr>
              <th>ID</th>
              <th>Facility Name</th>
              <th>Rate/HR</th>
              <th>Capacity</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody style="height: 1px;">
            {% for f in facility %} 
            <tr>
              <td>{{ f.id }}</td>
              <td>{{ f.facilityname }}</td>
              <td>₱{{ f.rateperhour }}</td>
              <td>{{ f.capacity }}</td>
              <td style="width: 20%;">
                <button id="btnupdate" type="button" class="btndel" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" 
                        data-facility-id="{{ f.id }}" data-facilityname="{{ f.facilityname }}" 
                        data-rateperhour="{{ f.rateperhour }}" data-capacity="{{ f.capacity }}">
                  Edit
                </button>
                <button class="btndel" id="delfaci" data-bs-toggle="modal" data-bs-target="#warning-{{ f.id}}" data-facilityname="{{ f.facilityname }}"  data-facility-id="{{ f.id }}">
                  Delete
                </button>
              </td>
              {% empty %}
              <h3 style="position: absolute; margin-top: 20%; margin-left: 32%; opacity: 0.3;">No Available Facility</h3>
            </tr>
            {% endfor %}
          </tbody>
          </table>
          <button type="submit" class="add-fac" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Facility</button>
          </div>
         
          </div>
  <!-- Load jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Your AJAX request script -->
  <script>
    $(document).on("click", "#btnupdate", function() {
      // Get the data attributes
      var facilityId = $(this).data("facility-id");
      var facilityName = $(this).data("facilityname");
      var ratePerHour = $(this).data("rateperhour");
      var capacity = $(this).data("capacity");
      var facilityId = $(this).data("facility-id");
      $("#facilityIdInput").val(facilityId);
      console.log("facilityId:", facilityId);

      // Log facilityId to the console for debugging
      // console.log(facilityId);

      // Set the values as default values in the modal form
      $("#staticBackdrop2 input[name='facilityname']").val(facilityName);
      $("#staticBackdrop2 input[name='rateperhour']").val(ratePerHour);
      $("#staticBackdrop2 input[name='capacity']").val(capacity);

      // Show the modal
      $("#staticBackdrop2").modal("show");
    });
  </script>

  <!-- Your AJAX request script -->
  <script>
    $.ajax({
        type: "POST",
        url: "/facility",
        data: {
            facilityId: facilityId,
            facilityname: updatedFacilityName,  // Include other updated fields
            rateperhour: updatedRatePerHour,
            capacity: updatedCapacity
        },
        success: function(response) {
            // Handle the response from the server if needed
        },
        error: function(error) {
            // Handle any errors if the AJAX request fails
        }
    });
  </script>


  <!-------------------------------------------------------------NAVIGATION BAR---------------------------------------------------------------->

{% endblock %}

