{% extends 'base.html' %}
{% load static %}
{% block facility_content %}
  <div class="modal" id="facirules" > 
  <form method="POST" class="modal-dialog modal-dialog-centered" id="Add_faci">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel2">Add Facility</h5>
        </div>
        <div class="modal-body">
          {% csrf_token %}
          <input list="facility" name="facility" placeholder="Choose Type of Schedule"/>
          <datalist id="facility">
            <option value="{{forms.facility}}">
          </datalist>

           
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a href="{% url 'facility:facility' %}">Cancel</a></button>
            <button type="submit" class="btn btn-primary" data-bs-target="update_faci">Add Facility</button>
        </div>
    </div>
</form>
</div>

<!-- BUTTON TO ADD FACILITY -->
    <!-- <button type="submit" class="add-fac" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Facility</button> -->
    <div class="label-page"  style="padding: 10px;">FACILITY<a style="margin-left: 65vw; margin-top: 0rem; font-size: larger;" href="{% url 'facility:facimainback' %}"><img style="height: 40%;" src="{% static 'media/arrow.png' %}" alt="Another Profile Picture"></a></div>
    <div class="table">
      <h3 style="font-weight: 50px;">Facility Rules Table</h3><br>
      <table class="center" cellspacing="2" style="display: center;">
        <button data-bs-toggle="modal" data-bs-target="#facirules" data-bs-toggle="modal" class="btn btn-primary" >Choose Facility</button>  
        <thead>
          <tr>
            <th>ID</th>
            <th>FACILITY</th>
            <th>MAIN RULES</th>
            <th>PROMO RULES</th>
            <th>SUB RULES</th>
            <th>ACTION</th>
          </tr>
        </thead>

        <tbody>
          {% for sf in setting_facility %}
          <tr>
            <td style="width: 10%;">{{ sf.id }}</td>
            <td>{{ sf.facility }}</td>
            <td>{{ sf.mainrules }}</td>
            <td>{{ sf.promorules }}</td>
            <td>{{ sf.subrules }}</td>
            <td><button class="btndel">
              <a class="btndel" href="{% url 'facility:facilityRules' sf.id %}">Edit</a>
            </button>
          </td>
            {% empty %}
            <h3 style="position: absolute; margin-top: 20%; margin-left: 32%; opacity: 0.3;">No Available Rules</h3>
          </tr>
          {% endfor %}
        </tbody>
      </table> 
     
    </div>



  {% endblock %}