{% extends 'base.html' %}
{% load static %}
{% block facility_content %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <style>
    a{
      text-decoration: none;
    }
  form.modal-dialog{
  right: -12%;
}
select#inputGroupSelect01 {
    padding: 10px; /* Adjust the padding to change the text box's width */
    font-size: 16px; /* Adjust the font size */
    width: 236px;
    height: 39px;
    fill: #FFF;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  select{
    border-radius: 4px 4px 4px 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.80);


  }


  select#inputGroupSelect01::-ms-value::-arrow {
    color: #ffcc01;
  }
  input[type=date]{
  /* box-sizing: border-box; */
  width: 236px;
  height: 39px;
  fill: #FFF; 
  stroke-width: 1px; 
  stroke: #E0E0E0;
  margin-top: 2rem;
}
  </style>




    <div class="label-page">Revenue Reports</div>
    <div class="table">
      <form action="{% url 'facility:revenuereport' %}" method="GET">
        <div class="menu">
          <select name="facility" class="custom-select" id="inputGroupSelect01" style="margin-top: 2rem; padding: 2px;">
            <option value="">All</option>
            {% for f in facilities %}
                <option value="{{ f.id }}">{{ f.facilityname }}</option>
            {% endfor %}
        </select>
      
          <label style="margin-left: 3%; color: #606060; font-size: 20px; font-weight: 700; line-height: normal;">From:</label>
          <input name="start_date" type="date" style="margin-left: 5px">
          
          <label style="margin-left: 2%; color: #606060; font-size: 20px; font-weight: 700; line-height: normal;">To:</label>
          <input name="end_date" type="date" style="margin-left: 5px">
          
          <button class="btnproc" type="submit" style="margin-left: 2%;">Proceed</button>
        </div>
        <br>
      </form>
        <!-- <a type="submit" href="{% url 'facility:generate_pdf' %}" style="margin-left: 80%; text-decoration: underline; color: #3C3C3C; opacity: 0.8;">🖨️Statement of Revenue</a> -->
      
        <div style="margin-top: -3%; margin-bottom: 3rem;">
            <table class="center" cellspacing="2" style="margin-top: 3rem; width: fit-content; height: 150px; overflow-y: auto;">
              <thead>
                <tr>
            <th style="font-size: 17px;">Facility Name</th>
            <th style="font-size: 17px;">Facility Rate</th>
            <th style="font-size: 17px;">Number of Reservations</th>
            <th style="font-size: 17px;">Total Hours</th>
            <th style="font-size: 17px;">Facility Revenue Points</th>
            <th style="font-size: 17px;">Facility Revenue Coins</th>
                </tr>
            </thead>
            <tbody>
              {% for f in facilities %}
                <tr>
                    <td>{{ f.facilityname}}</td>
                    <td>{{ f.rateperhour }}</td>
                    <td>{{ f.num_reservations }}</td>
                    <td>{{ f.total_hours }}</td>
                    <td>{{ f.facility_revenue_points|floatformat:2 }}</td>
                    <td>{{ f.facility_revenue_coins|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No data available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <br>
        
        <div style="margin-top: -3rem;">
            <h5 style="font-weight: bolder;">TRANSACTION HISTORY</h5>
            <table class="center" cellspacing="2" style="margin-top: 0rem; width: max-width; height: 200px; overflow-y: auto;">
                <thead>
                  <tr>
                    <th style="font-size: 12px;">Transaction Number</th>
                    <th style="font-size: 12px;">Transaction Date</th>
                    <th style="font-size: 12px;">Facility Venue ID</th>
                    <th style="font-size: 12px;">Customer User ID</th>
                    <th style="font-size: 12px;">Date</th>
                    <th style="font-size: 12px;">Start Time</th>
                    <th style="font-size: 12px;">End Time</th>
                    <th style="font-size: 12px;">Booked Duration</th>
                    <th style="font-size: 12px;">Coins</th>
                    <th style="font-size: 12px;">Points</th>
                  </tr>
                </thead>
                <tbody style="height: 1px;">
                  {% for booking in bookings %}
                    <tr>
                        <td style="font-size: 12px;">{{ booking.referenceNo }}</td>
                        <td style="font-size: 12px;">{{ booking.bookDate }}</td>
                        <td style="font-size: 12px;">{{ booking.venue_id }}</td>
                        <td style="font-size: 12px;">{{ booking.user.id }}</td>
                        <td style="font-size: 12px;">{{ booking.date }}</td>
                        <td style="font-size: 12px;">{{ booking.startTime }}</td>
                        <td style="font-size: 12px;">{{ booking.endTime }}</td>
                        <td style="font-size: 12px;">{{ booking.duration }}</td>
                        <td style="font-size: 12px;">{{ booking.coins }}</td>
                        <td style="font-size: 12px;">{{ booking.points }}</td>
                        {% empty %}
                        <h3 style="position: absolute; margin-top: 20%; margin-left: 32%; opacity: 0.3;">NO TRANSACTION AT ALL</h3>
                        {% endfor %}
                        <p>{{ total_revenue }}</p>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>

  <!-------------------------------------------------------------NAVIGATION BAR---------------------------------------------------------------->


  {% endblock %}