{% extends 'base.html' %}
{% load static %}
{% block facility_content %}

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<style>
  button{
    border: 0px;
  }
  a{
    text-decoration: none;
  }
.columns {
  display: flex;
}

.columni {
  padding: 20px;
  border: 1px solid #ccc;
}

.column1 {
  flex: 40%;
}

.column2 {
  flex: 60%;
}

.two-column-in {
    display: flex;
    height: 400px;
}

.column {
    flex: 1;
    width: 0px; /* Add padding for spacing */
}

select#inputGroupSelect01 {
    padding: 1px; /* Adjust the padding to change the text box's width */
    font-size: 16px; /* Adjust the font size */
    width: fit-content;
    height: 39px;
    fill: #FFF;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  select{
    border-radius: 4px 4px 4px 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.80);


  }
  select.custom-select-filter{
    margin-top: 2rem; 
    margin-left: 10px;
    height: 42px;
  }


  select#inputGroupSelect01::-ms-value::-arrow {
    color: #ffcc01;
  }
  input[type=datetime-local]{
  /* box-sizing: border-box; */
  width: 236px;
  height: 39px;
  fill: #FFF; 
  stroke-width: 1px; 
  stroke: #E0E0E0;
  margin-top: 2rem;
}
    button.trans{
        background-color: #FFF; 
        height: 41px; 
        font-size: larger;
    }

    button.dashboardrevenue{
        background-color: transparent; 
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
        text-align: left; 
        border-radius: 0; 
        height: 28%; 
        padding-top: 4px; 
        width: 15.2vw; 
        padding-left: 2rem;
        margin-left:0%;
        margin-right: 0%;
        border-bottom: 0px solid #CFCFCF; 
    }
    button.dashboardrevenue:hover{
        border-bottom: 2px solid #ffcc01;  
        border-color: #ffcc01;
    }
    p.label{
        font-size: 13px;
    }

    p.dif{
        font-size: 9px; margin-top: -2%;
    }
    div.menugroup{
        border-bottom: 0px solid #ffcc01; 
    }
    div.menugroup:hover{
        border-bottom: 2px solid #ffcc01; 
        border-color: #ffcc01;
    }
    select#inputGroupSelect01 {
    padding: 10px; /* Adjust the padding to change the text box's width */
    font-size: 16px; /* Adjust the font size */
    width: 236px;
    height: 39px;
    fill: #FFF;
    border: 0.5px solid rgba(0, 0, 0, 0.50);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
  }

  select{
    border-radius: 4px 4px 4px 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.80);


  }


  select#inputGroupSelect01::-ms-value::-arrow {
    color: #ffcc01;
  }
  input[type=date]{
  /* box-sizing: border-box; */
  width: 236px;
  height: 39px;
  fill: #FFF; 
  stroke-width: 1px; 
  stroke: #E0E0E0;
  margin-top: 2rem;
}
*::-webkit-scrollbar-thumb {
      opacity: 0;
    background-color: #ffcc0186; /* Change the color of the scrollbar thumb */
    border-radius: 5px; /* Add rounded corners to the scrollbar thumb */
  }
  
  /* Optional: Style the scrollbar track */
  *::-webkit-scrollbar-track {
    opacity: 0;
    background-color: #e8e1ae; /* Change the color of the scrollbar track */
  }
  
  /* Optional: Style the scrollbar itself */
  *::-webkit-scrollbar {
    opacity: 0;
    margin-left: 0%;
    width: 0px; /* Adjust the width of the scrollbar */
  }
.table{
  overflow-x: hidden;
}
  </style>

<!-- -----------------------------------------------ADD RULES--------------------------------------------- -->

<!-- ---------------------------------------------- Calendar ----------------------------------------------------------- -->

    <div class="label-page" >Revenue Dashboard</div>
    <div class="table" style="padding: 0px;">
      <form method="get">
        <div class="menu" style="padding: 1rem;">
          <select name="facility" class="custom-select" id="inputGroupSelect01" style="margin-top: 2rem; padding: 2px;">
            <option name="facility" type="submit" value="">All</option>
            {% for f in facilityt %}
            <option name="facility" type="submit" value="{{ f.id }}">{{ f.facilityname }}</option>
            {% endfor %}
            <!-- <input type="hidden" name="facility" value="87"> -->
          </select>
      
          <label style="margin-left: 3%; color: #606060; font-size: 20px; font-weight: 700; line-height: normal;">From:</label>
          <input name="start_date" type="date" style="margin-left: 5px">
          
          <label style="margin-left: 2%; color: #606060; font-size: 20px; font-weight: 700; line-height: normal;">To:</label>
          <input name="end_date" type="date" style="margin-left: 5px">
          
          <button type="submit" class="btnproc">Proceed</button><br>
        </div>
        </form>
        <br>
        <div style=" overflow-x: hidden; padding: 1px; margin-top: -3%; margin-bottom: 2rem; width: 100%; height: fit-content; background: transparent; filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));">
            <div class="menugroup" style="  margin-left: 0px; margin-top: 5px; padding-left: 8px; padding-top: 10px; padding-bottom: 1px; border-bottom: 1px solid #CFCFCF; width: 90vw; ">                
                <button class="dashboardrevenue">
                <p class="label">Total Revenue</p>  
                  <h5 style="margin-top:-5%">₱{{ total_revenue_points|floatformat:2 }}</h5>
                  {% if empty %}
                  <h5 style="margin-top:-5%">₱ 000,000.00</h5>
                  {%  endif %}
                </button>
                <button class="dashboardrevenue">
                  <p class="label">Total Charge Payments</p>
                  <h5 style="margin-top:-5%">₱{{ total_revenue_coins|floatformat:2 }}</h5>
                  {% if empty %}
                  <h5 style="margin-top:-5%">₱ 000,000.00</h5>
                  {%  endif %}

              </button>
                <button class="dashboardrevenue">
                    <p class="label">Total Usage Hours</p>
                    <h5 style="margin-top:-5%">{{ total_hours_all|floatformat:2 }}</h5>
                    {% if empty %}
                    <h5 style="margin-top:-5%">00.00</h5>
                    {%  endif %}
  
                </button>
                <button class="dashboardrevenue">
                  <p class="label">Total Reservations</p>
                  <h5 style="margin-top:-5%">{{ total_reservation}}</h5>
                  {% if empty %}
                  <h5 style="margin-top:-5%">None</h5>
                  {%  endif %}
  
                </button>
                <button class="dashboardrevenue">
                    <p class="label">Total Facilities</p>
                    <h5 style="margin-top:-5%">{{ number_facility}}</h5>
                    {% if empty %}
                    <h5 style="margin-top:-5%">None</h5>
                    {%  endif %}
  
                </button>

            </div>
            <form method="get" hidden>
              {{ chart_type_form }}
              <button type="submit">Update Chart</button>
          </form>
            <div style="padding:1%;">
              <canvas id="myChart" height="100% width: 100%;"></canvas>
          </div>
          <script style="width: 100vw; padding:2rem; height: 10vh;">
            var ctx = document.getElementById('myChart').getContext('2d');
            
    
            var data = {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Revenue',
                    data: {{ data_values|safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: {{ border_colors|safe }},
                    borderWidth: 1
                }]
            };
    
            var myChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
        </div>
        <br>
        
        <div class="columns" style="overflow: hidden; margin-top: 0rem;height: 400px; background: #FFF; border: 0.5px solid rgba(0, 0, 0, 0.20); filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));">
              <div class="columni column1" >
                <div class="two-column-in">
                  <div class="column">
                      <p>WIL Facilities</p>
                        {% for facility_name, stats in facility_stats.items %}
                      <p>{{ stats.facility.facilityname }}</p>
                        {% empty %}
                      <p style="opacity: 0.3; margin-left: 20%; font-size: 12px;">No available Facility</p>
                        {% endfor %}
                  </div>
                  <div class="column">
                      <p style="padding-bottom: 2px;">Net Sales</p>
                        {% for facility_name, stats in facility_stats.items %}
                      <p style="font-size: 12px; padding-bottom: 7px;">{{ stats.facility_revenue }}</p>
                        {% empty %}
                      <p style="margin-left: 20%; font-size: 12px;"> -- </p>
                        {% endfor %}
                  </div>
                </div>
            </div>
                <div class="columni column2">
                
                  <form method="get" hidden>
                      {{ chart_type_form }}
                      <button type="submit">Update Chart</button>
                  </form>
                  <canvas id="revenuepoints" height="200px"></canvas>

            </div>
            <div class="columni column2">
                
              <form method="get" hidden>
                  {{ chart_type_form }}
                  <button type="submit">Update Chart</button>
              </form>
              <canvas id="revenuecoins" height="200px"></canvas>

        </div>


                <script style="width: 100vw;">
                  var ctx = document.getElementById('revenuepoints').getContext('2d');
                  var chartType = '{{ chart_type|default:"bar" }}';
          
                  var data = {
                      labels: {{ labels|safe }},
                      datasets: [{
                          label: 'Points',
                          data: {{ data_values_points|safe }},
                          backgroundColor: 'rgba(75, 192, 192, 0.2)',
                          borderColor: 'rgba(75, 192, 192, 1)',
                          borderWidth: 1
                      }]
                  };
          
                  var revenuepoints = new Chart(ctx, {
                      type: chartType,
                      data: data,
                      options: {
                          scales: {
                              yAxes: [{
                                  ticks: {
                                      beginAtZero: true
                                  }
                              }]
                          }
                      }
                  });
              </script>
            
        </div>
        <br>
    </div>
    
    <script style="width: 100vw;">
      var ctx = document.getElementById('revenuecoins').getContext('2d');
      var chartType = '{{ chart_type|default:"bar" }}';

      var data = {
          labels: {{ labels|safe }},
          datasets: [{
              label: 'Coins',
              data: {{ data_values_coins|safe }},
              backgroundColor: 'rgba(75, 192, 192, 0.2)',
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1
          }]
      };

      var revenuecoins = new Chart(ctx, {
          type: chartType,
          data: data,
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero: true
                      }
                  }]
              }
          }
      });
  </script>
    

  <!-------------------------------------------------------------NAVIGATION BAR---------------------------------------------------------------->

{% endblock %}