.row {
	margin-top: 20px;
}

.df {
	color: #fff200;
}

.card-header {
	background-color: #fff200;
}

.act {
	font-size: 4em; 
	font-weight: 700;
	color: #000;
}

.readMore {
	background-color: #fff200;
	color: #000;
	font-weight: 700;
	border: 2px solid #fff200;
}

.readMore:hover {
  background-color: transparent;
  color: #000;
}

.chartContainer {
	height: 100%;
	width: 100%;
}

canvas{ 
  width:100% !important;
  height:600px !important;

}

.modal-header {
	background-color: #fff200;
}