.row {
	margin-top: 20px;
}

.card-header {
	background-color: #fff200;
}

.trhead {
	background-color: #fff200;
}

.df {
	color: #fff200;
}

.btnExp {
  background-color: #000; 
  border: 2px solid #000;
  color: #fff200 !important;
}

.btnExp:hover {
  background-color: transparent;
  border: 2px solid #000;
  color: #000 !important;
  font-weight: bold;
}
