body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #F44336;
    background-repeat: no-repeat;
}

.card00 {
    z-index: 0;
}

.card1 {
    margin-left: 140px;
    z-index: 0;
    border-right: 1px solid #F5F5F5;
    background-color: #fff200;
}

.card2 {
    display: none;
    padding-right: 5px;
}

.card2.show {
    display: block;
}

.num1 {
    margin-left: -40px;
    max-width: 5rem;
}

.num2 {
    /*margin-right: 500px;*/
    max-width: 50rem;
}

input,
select {
    padding: 2px;
    border-radius: 0px;
    box-sizing: border-box;
    color: #9E9E9E;
    border: 1px solid #BDBDBD;
    font-size: 16px;
    letter-spacing: 1px;
    height: 50px !important;
}

select {
    width: 100%;
    margin-bottom: 85px;
}

input:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #E53935 !important;
    outline-width: 0 !important;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
}

.form-control-placeholder {
    position: absolute;
    top: 0px;
    padding: 12px 2px 0 2px;
    transition: all 300ms;
    opacity: 0.5;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    font-size: 95%;
    top: 10px;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    background-color: #fff;
}

.next-button {
    width: 18%;
    height: 50px;
    background-color: #fff200;
    color: #000000;
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 8px;
    cursor: pointer;
    font-weight: bold;
}

.next-button:hover {
    background-color: #ffaa1d;
    color: #fff;
}


#progressbar {
    position: absolute;
    left: 2px;
    overflow: hidden;
    color: #E53935;
}

#progressbar li {
    list-style-type: none;
    font-size: 8px;
    font-weight: 400;
    margin-bottom: 36px;
}

#progressbar li:nth-child(3) {
    margin-bottom: 88px;
}

#progressbar .step0:before {
    content: "";
    color: #fff;
}

#progressbar li:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 20px;
    background: #fff;
    border: 2px solid #000000;
    border-radius: 50%;
    margin: auto;
}

#progressbar li:last-child:before {
    width: 40px;
    height: 40px;
}

#progressbar li:after {
    content: '';
    width: 3px;
    height: 66px;
    background: #BDBDBD;
    position: absolute;
    left: 58px;
    top: 15px;
    z-index: -1;
}

#progressbar li:last-child:after {
    top: 147px;
    height: 132px;
}

#progressbar li:nth-child(3):after {
    top: 81px;
}

#progressbar li:nth-child(2):after {
    top: 0px;
}

#progressbar li:first-child:after {
    position: absolute;
    top: -81px;
}

#progressbar li.active:after {
    background: #000000;
}

#progressbar li.active:before {
    background: #000000;
    font-family: FontAwesome;
    content: "\f00c";
}

.tick {
    width: 100px;
    height: 100px;
}

.prev {
    display: block;
    position: absolute;
    left: 40px;
    top: 20px;
    cursor: pointer;
}

.prev:hover {
    color: #D50000 !important;
}

.techReg {
    color: #fff200;
    letter-spacing: 1.2px;
    font-size: 17px;
}

.btn-arrow-right,
.btn-arrow-left {
   position: relative;
   padding-left: 18px;
   padding-right: 18px;
}

.btn-arrow-right {
   padding-left: 36px;
}

.btn-arrow-left {
   padding-right: 36px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
   /* make two squares (before and after), looking similar to the button */
   
   content: "";
   position: absolute;
   top: 5px;
   /* move it down because of rounded corners */
   
   width: 22px;
   /* same as height */
   
   height: 22px;
   /* button_outer_height / sqrt(2) */
   
   background: inherit;
   /* use parent background */
   
   border: inherit;
   /* use parent border */
   
   border-left-color: transparent;
   /* hide left border */
   
   border-bottom-color: transparent;
   /* hide bottom border */
   
   border-radius: 0px 4px 0px 0px;
   /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
   
   -webkit-border-radius: 0px 4px 0px 0px;
   -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
   transform: rotate(45deg);
   /* rotate right arrow squares 45 deg to point right */
   
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
   transform: rotate(225deg);
   /* rotate left arrow squares 225 deg to point left */
   
   -webkit-transform: rotate(225deg);
   -moz-transform: rotate(225deg);
   -o-transform: rotate(225deg);
   -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before {
   /* align the "before" square to the left */
   
   left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
   /* align the "after" square to the right */
   
   right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
   /* bring arrow pointers to front */
   
   z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
   /* hide arrow tails background */
   
   background-color: white;
}

@media screen and (max-width: 912px) {
    .card00 {
        padding-top: 30px;
    }

    .card1 {
        border: none;
        margin-left: 50px;
    }

    .card2 {
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 25px;
    }

    .social {
        height: 30px;
        width: 30px;
        font-size: 15px;
        padding-top: 8px;
        margin-top: 7px;
    }

    .get-bonus {
        margin-top: 40px !important;
        margin-left: 75px;
    }

    #progressbar {
        left: -25px;
    }
}