body {
  background-image: url("../../assets/img/title.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(255,255,255,100);
}

img {
  height: 70px;
  width: 200px;
}

@media (min-width: 1200px) {
  .text-bg-warning {
  }
}

