#box { display: inline-block; margin: -2rem 0rem 1rem 9.5rem	}
#score {font-size: 5rem; font-weight:bold;}
#scorelabel {margin-top: -1rem; font-size: .7rem;}
.button {
  background-color: #fff000;
  border: none;
  color: black;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8rem;
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;
}
.button1 {
  background-color: #fff000;
  color: black;
}

.button1:hover {
  background-color: #fff555;
  color: black;
}
input {
    background-color: #ededed;
    color: black;
	height:1.8rem;
	font-size: .8rem;
}
input:focus {
    background-color: #fff;
	border: 1px solid #e5e5e5;
    color: black;
}

.buttonblack {
  background-color: #000;
  border: none;
  color: #fff000;
  padding: .5rem .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .5rem;
  transition-duration: 0.1s;
  cursor: pointer;
}

.buttonb1 {
  background-color: #000;
  color: #fff000;
}

.buttonb1:hover {
  background-color: #343434;
  color: #fff;

