{% extends 'wiladmin/base.html' %} {% load static %} {% block body_block %}

<link rel="stylesheet" href="{% static 'css/workspaces.css' %}" />
<body>
  <div class="label-page">WORKSPACES</div>
  <div class="table" style="overflow-y: auto; height: 70%">
    <div class="content-container">
      <div class="content">
        <div id="facility-map" class="facility-map">
          <img
            src="{% static 'images/area_remastered.png' %}"
            alt="areas"
            class="facility-areas"
          />

          {% for area_count in area_count %}

          <form method="POST" action="workspaces/A1">
            {% csrf_token %} <input type="submit" id="a1" class="areaA1-button"
            value={{area_count.countA1}}/1>
          </form>

          <form method="POST" action="workspaces/A2">
            {% csrf_token %} <input type="submit" id="a2" class="areaA2-button"
            value={{area_count.countA2}}/1>
          </form>

          <form method="POST" action="workspaces/A3">
            {% csrf_token %} <input type="submit" id="a3" class="areaA3-button"
            value={{area_count.countA3}}/6>
          </form>

          <form method="POST" action="workspaces/A4">
            {% csrf_token %} <input type="submit" id="a4" class="areaA4-button"
            value={{area_count.countA4}}/6>
          </form>

          <form method="POST" action="workspaces/A5">
            {% csrf_token %} <input type="submit" id="a5" class="areaA5-button"
            value={{area_count.countA5}}/6>
          </form>

          <form method="POST" action="workspaces/A6">
            {% csrf_token %} <input type="submit" id="a6" class="areaA6-button"
            value={{area_count.countA6}}/6>
          </form>

          <form method="POST" action="workspaces/A7">
            {% csrf_token %} <input type="submit" id="a7" class="areaA7-button"
            value={{area_count.countA7}}/24>
          </form>

          <form method="POST" action="workspaces/A8">
            {% csrf_token %} <input type="submit" id="a8" class="areaA8-button"
            value={{area_count.countA8}}/6>
          </form>

          <form method="POST" action="workspaces/A9">
            {% csrf_token %} <input type="submit" id="a9" class="areaA9-button"
            value={{area_count.countA9}}/6>
          </form>

          {% endfor %}
        </div>

        <div class="user-list-tables">
          
          <table class="user-list">
            <thead>
              <tr>
                <th scope="col" colspan="3">A1</th>
              </tr>
            </thead>
            <tbody>

              {% for reserve_userA1 in reserve_users.reserve_users_A1 %}
              <tr>
                <td>{{ reserve_userA1.user_id }}</td>
              </tr>
              {% endfor %}
              
              {% for walkin_userA1 in walkin_users.walkin_users_A1 %}
              <tr>
                <td>{{ walkin_userA1.user_id }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

          <table class="user-list">
            <thead>
              <tr>
                <th scope="col" colspan="3">A2</th>
              </tr>
            </thead>
            <tbody>

              {% for reserve_userA2 in reserve_users.reserve_users_A2 %}
              <tr>
                <td>{{ reserve_userA2.user_id }}</td>
              </tr>
              {% endfor %}
              
              {% for walkin_userA2 in walkin_users.walkin_users_A2 %}
              <tr>
                <td>{{ walkin_userA2.user_id }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

          <table class="user-list">
            <thead>
              <tr>
                <th scope="col" colspan="3">A3</th>
              </tr>
            </thead>
            <tbody>

              {% for reserve_userA3 in reserve_users.reserve_users_A3 %}
              <tr>
                <td>{{ reserve_userA3.user_id }}</td>
              </tr>
              {% endfor %}
              
              {% for walkin_userA3 in walkin_users.walkin_users_A3 %}
              <tr>
                <td>{{ walkin_userA3.user_id }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

          <table class="user-list">
            <thead>
              <tr>
                <th scope="col" colspan="3">A4</th>
              </tr>
            </thead>
            <tbody>

              {% for reserve_userA4 in reserve_users.reserve_users_A4 %}
              <tr>
                <td>{{ reserve_userA4.user_id }}</td>
              </tr>
              {% endfor %}
              
              {% for walkin_userA4 in walkin_users.walkin_users_A4 %}
              <tr>
                <td>{{ walkin_userA4.user_id }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

          <table class="user-list">
            <thead>
              <tr>
                <th scope="col" colspan="3">A5</th>
              </tr>
            </thead>
            <tbody>

              {% for reserve_userA5 in reserve_users.reserve_users_A5 %}
              <tr>
                <td>{{ reserve_userA5.user_id }}</td>
              </tr>
              {% endfor %}

              {% for walkin_userA5 in walkin_users.walkin_users_A5 %}
              <tr>
                <td>{{ walkin_userA5.user_id }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

          <table class="user-list">
            <thead>
              <tr>
                <th scope="col" colspan="3">A6</th>
              </tr>
            </thead>
            <tbody>

              {% for reserve_userA6 in reserve_users.reserve_users_A6 %}
              <tr>
                <td>{{ reserve_userA6.user_id }}</td>
              </tr>
              {% endfor %}

              {% for walkin_userA6 in walkin_users.walkin_users_A6 %}
              <tr>
                <td>{{ walkin_userA6.user_id }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

          <table class="user-list">
            <thead>
              <tr>
                <th scope="col" colspan="3">A7</th>
              </tr>
            </thead>
            <tbody>

              {% for reserve_userA7 in reserve_users.reserve_users_A7 %}
              <tr>
                <td>{{ reserve_userA7.user_id }}</td>
              </tr>
              {% endfor %}

              {% for walkin_userA7 in walkin_users.walkin_users_A7 %}
              <tr>
                <td>{{ walkin_userA7.user_id }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

          <table class="user-list">
            <thead>
              <tr>
                <th scope="col" colspan="3">A8</th>
              </tr>
            </thead>
            <tbody>

              {% for reserve_userA8 in reserve_users.reserve_users_A8 %}
              <tr>
                <td>{{ reserve_userA8.user_id }}</td>
              </tr>
              {% endfor %}

              {% for walkin_userA8 in walkin_users.walkin_users_A8 %}
              <tr>
                <td>{{ walkin_userA8.user_id }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

          <table class="user-list">
            <thead>
              <tr>
                <th scope="col" colspan="3">A9</th>
              </tr>
            </thead>
            <tbody>

              {% for reserve_userA9 in reserve_users.reserve_users_A9 %}
              <tr>
                <td>{{ reserve_userA9.user_id }}</td>
              </tr>
              {% endfor %}

              {% for walkin_userA9 in walkin_users.walkin_users_A9 %}
              <tr>
                <td>{{ walkin_userA9.user_id }}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'functions-js/refresh.js' %}"></script>
</body>
{% endblock %}
