.mentor-day {
	margin-left: 10px;
	width: 100px;
}

.mentor-day.clicked {
	background: #FFF200;
	font-weight: bold;
}


.btnRight, .btnCreate {
  background-color: #fff200; 
  border: 2px solid #fff200;
  color: #000 !important;
  font-weight: bold;
}

.btnDelete {
  background-color: #fff200; 
  border: 2px solid #fff200;
  color: #000 !important;
  font-weight: bold;
}



.btnRight:hover, .btnCreate:hover {
  background-color: transparent !important;
  border: 2px solid #fff200;
  color: #000 !important;
  font-weight: bold;
}

.btn-secondary:hover {
	background-color: transparent !important;
	border: 2px solid #d9e2ef;
	color: #000 !important;
  	font-weight: bold;
}
