body {
	background-color: #d3d3d3;
}

.content { 
    position: relative; 
    border: 1px solid #123;
    padding-top: 30px;
    padding-bottom: 20px;
    border-style: solid;
    border-color: gold;
    border-radius: 12px;
  	background-color: rgba(255,204,0);
}

.forgetPW {
	text-decoration: underline;
}

.idNo {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 28px;
}

.message {
    color: red;
    font-style: italic;
}

.details {
    width: 85%;
    margin-bottom: 2.5px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 3px;
}